// colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881a1;
$input-text-active: #0644d4;
// for demo
.demo-flex-spacer {
  flex-grow: 1;
}
@media screen and (max-width: 300px) {
  .demo-flex-spacer {
    width: 350px;
  }
}

@media screen and (max-width: 300px) {
  .demo-flex-spacers {
    display: inline-block;
  }
}

form {
  display: flex;
  align-items: center;
}

p {
  font-weight: bold;
}

.inputButton {
  display: inline-block;
}

.buttonBuscar {
  cursor: pointer;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-top: 25px;
  vertical-align: middle;
  transition: color 0.25s;
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
  padding: 5px 15px;
  border-width: 10px;
  border-color: #4a00e0;
  &:hover {
    color: $input-text-active;
  }
}

// gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  &:after {
    content: "";
    position: absolute;
    left: 32px;
    right: 32px;
    bottom: 10px;
    z-index: 999;
    height: 18px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    background-position: 0% 0%;
    background: linear-gradient(
      to right,
      #b294ff,
      #57e6e6,
      #feffb8,
      #57e6e6,
      #b294ff,
      #57e6e6
    );
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}

@media screen and (max-width: 505px) {
  .webflow-style-input {
    padding-left: 0px;
    width: 321px;
    height: 40px;
  }
}

@media screen and (max-width: 505px) {
  .webflow-style-input:after {
    left: 2px;
  }
}

.webflow-style-input input {
  flex-grow: 1;
  background: linear-gradient(to right, #2f3add, #4a00e0);
  color: white;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    color: $input-text-inactive;
  }
}

@media screen and (max-width: 511px) {
  .webflow-style-input input {
    width: 314px;
    font-size: small;
  }
}

.webflow-style-input button {
  background: linear-gradient(110deg to right, #8e2de2, #4a00e0);
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
  &:hover {
    color: $input-text-active;
  }
}
