div.footer {
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;

}

p {
    margin: 30px;
    color: white;
    align-self: center;
}

button.icon1 {
    background-color: darkblue;
    border: none;
}

button.icon2 {
    background-color: darkblue;
    border: none;
}

button.icon3 {
    background-color: darkblue;
    border: none;
}

.icons {
    align-self: center;
    width: 350px;
}

.icon1 {
    cursor: pointer;
    margin: 15px;
}

.icon2 {
    cursor: pointer;
    margin: 15px;
}

.icon3 {
    cursor: pointer;
    margin: 15px;
}