div.footer {
  background-color: darkblue;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (max-width: 858px) {
  div.footer {
    background-color: darkblue;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
}

div.enlaceApi {
  flex-direction: column;
}

p.p1 {
  font-size: larger;
  margin: 30px;
  color: white;
  align-self: center;
}

p.p2 {
  font-size: larger;
  margin: -1px;
  color: white;
  align-self: center;
}

.enlaceApi {
  display: flex;
}

.enlaceGit {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 390px) {
  .enlaceGit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

button.icon1 {
  background-color: darkblue;
  border: none;
}

button.icon2 {
  background-color: darkblue;
  border: none;
}

button.iconGit {
  background-color: darkblue;
  width: 100%;
  border: none;
}

@media screen and (max-width: 390px) {
  button.icon2 {
    background-color: darkblue;
    display: flex;
    justify-content: flex-end;
    width: 312px;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
}

.icon {
  cursor: pointer;
  margin: 15px;
}

.icon1 {
  cursor: pointer;
  margin: 15px;
}
.icon2 {
  cursor: pointer;
  margin: 15px;
  width: 150px;
}
